# Built
/.gradle/
**/build/
/local.properties
*.iml
.idea/
.DS_Store
captures/
.cxx/

# geoking-tools
scripts/.keystore-credentials
scripts/.play-service-account.json
scripts/.adb-wireless
*.keystore
google-services.json
playstore/whatsnew/
/secrets/*.json

# Secrets
.env
*.jks
.firebase/
.wrangler/
